.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: #333333;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    max-width: 90%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  }
  
  .modal-content h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }
  
  .modal-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .modal-content form div {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .modal-content input {
    width: 100%;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #444;
    color: white;
    box-sizing: border-box;
  }
  
  
  .modal-content label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  

  
  .modal-content button {
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .modal-content button:hover {
    background-color: #0056b3;
  }
  