/* main container */
.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Ensures space between left and right */
  align-items: center;
  background-color: #121212;
  height: 100%;
}

/* instruction container */
.instruction-container {
  flex:1;
  background-color: #121212;
}

.instruction-container h1 {
  color: #ffffff;
}

/* setup form container */
.setup-form-container {
  flex:1;
  background-color: #323233;
}

/* setup form */
.setup-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .form-group label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  /* Responsive styling */
  @media (max-width: 600px) {
    .setup-form {
      padding: 10px;
    }
  
    .form-group input,
    .form-group select {
      font-size: 14px;
      padding: 8px;
    }
  
    .submit-button {
      font-size: 14px;
      padding: 8px 12px;
    }
  }
  