.sidebar {
  background-color: #121212;
  padding: 1rem;
  position: fixed;
  bottom: 0px;
  width: 20%;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%; /* Adjust height as necessary */
}

.sidebar h2 {
  margin-bottom: 20px; /* Margin below the header */
}

.sidebar ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0;           /* Remove padding */
}

.sidebar ul li {
  margin: 15px 0;      /* Space between items */
  cursor: pointer;      /* Pointer cursor on hover */
}

.sidebar ul li:hover {
  text-decoration: underline; /* Underline on hover */
}