.blank-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #323232;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #121212;
  }
  
  p {
    color: #666;
  }