/* Navbar.css */
.navbar {
    background-color: #333;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 6vh; /* Adjust height as necessary */
  }
  
  .nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
  }
  
  .nav-link:hover {
    background-color: #575757;
    border-radius: 5px;
  }
  
  .active-link {
    font-weight: bold;
    color: #4caf50;
  }
  
