/* Navbar.css */
.sidebar {
  height: 100vh; /* Full height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed position */
  top: 0; /* Align to top */
  left: 0; /* Align to left */
  background-color: #323232; /* Dark background color */
  padding-top: 20px; /* Padding at the top */
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}

.nav-links {
  list-style-type: none; /* Remove list bullets */
  padding: 0; /* Remove default padding */
}

.nav-link {
  display: block; /* Make the links appear as block elements */
  color: white; /* White text color */
  padding: 10px 15px; /* Add padding */
  text-decoration: none; /* Remove underline */
}

.nav-link:hover {
  background-color: #575757; /* Change background color on hover */
  text-decoration: none; /* Ensure no underline on hover */
}

.active-link {
  background-color: #4CAF50; /* Highlight active link */
  text-decoration: none; /* Ensure no underline on active state */
}

.img-container {
  align-items: center;
}

.img-container img {
  width: 75%; /* Adjust this to control the size of the logo */
  max-width: 200px; /* Optional: Maximum width for larger screens */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 20px; /* Space between the logo and the nav links */
  object-fit: contain; /* Ensures the image scales without being cropped */
}

.links-container {
  align-items: left;
  text-align: left;
} 